# Bu dosyayı kopyala: cp .env.example .env
# .env dosyasını asla Git'e commit etme!

GITLAB_URL=http://gitlab.sirket.local
GITLAB_TOKEN=glpat-xxxxxxxxxxxxxxxxxxxx
WEBHOOK_SECRET=gizli-anahtar-belirle
